{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <p class="text-center h1">Liste des utilisateurs</p>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Age</th>
                <th>CIN</th>
                <th>Adresse</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.age }}</td>
                <td>{{ user.cin }}</td>
                <td>{{ user.adresse }}</td>
                <td style="display:flex;">
                    <a href="{{ path('app_user_show', {'id': user.id}) }}"><img src="{{ asset('images/icons/show.png') }}" alt="Detail utilisateur" style="width: 25px;"></a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}"><img src="{{ asset('images/icons/edit.png') }}" alt="Modifier utilisateur" style="width: 25px;"></a>
                    <form method="post" action="{{ path('app_user_delete', {'id': user.id}) }}" onsubmit="return confirm('Voulez-vous supprier cet utilisateur ?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                        <button class="btn p-0"><img src="{{ asset('images/icons/delete.png') }}" alt="Supprimer utilisateur" style="width: 25px;"></button>
                    </form>
                    
                    {# {{ include('user/_delete_form.html.twig') }} #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
