{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <p class="text-center h1">Détail utilisateur</p>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ user.prenom }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ user.age }}</td>
            </tr>
            <tr>
                <th>CIN</th>
                <td>{{ user.cin }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ user.adresse }}</td>
            </tr>
        </tbody>
    </table>

    <div class="row" style="gap : 20px; justify-content : center">
        <a href="{{ path('app_user_index') }}" class="btn btn-danger col-lg-5">Annuler</a> 
        <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn btn-primary col-lg-5">Modifier</a>
    </div>

{% endblock %}
